<div class="row">
	<h1 class="text-muted">Your favorite articles</h2>
</div>
<br>
<div class="row">
	<div class="list-group">
  		<div  ng-repeat="article in articles">
  			<a href="" class="list-group-item" ng-click="articleDetails(article.article)" ng-if="!article.is_read">
  				<h4 class="list-group-item-heading">{{article.article.title}}</h4>
  				<span class="text-muted list-group-item-text"><small>{{article.article.posted_on | date : 'dd MMMM yyyy'}}</small></span>
   			</a>
   			  <a href="" class="list-group-item list-group-item-info" ng-click="articleDetails(article.article)" ng-if="article.is_read">
  				<h4 class="list-group-item-heading text-prim">{{article.article.title}}</h4>
  				<span class="text-muted list-group-item-text"><small>{{article.article.posted_on | date : 'dd MMMM yyyy'}}</small></span>
   			</a>
  		</div>
	</div>
</div>